.map {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    background-image: url(../../images/world-map-desktop.png);
    background-size: cover;
    padding: 250px 0px;

    h5 {
        color: #495567;
        text-align: center;
        font-family: Space Mono;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -1.071px;
    }
    

}