footer {
    background-color: #495567;
    width: 100%;

    .footer__items {
        background-image: url(../../patterns/white-circles.svg);
        background-size: cover;
        background-position: bottom right;

        .footer-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .info__text {
                padding: 102px 0px;
                width: 415px;
                color: #FFF;
                font-family: Space Mono;
                font-size: 48px;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -2.143px;
            }
            .download {
                display: flex;
                align-items: center;
                column-gap: 28px;
            }
        }
    }

    .navigation {
        width: 100%;
        background-color: #333A44;
    }
}