.faqs {
    h5 {
        padding-top: 120px;
        color: #495567;
        text-align: center;
        font-family: Space Mono;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2.143px;
    }
}