@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.big-container {
  max-width: 1560px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.big-container {
  max-width: 1560px;
  margin: 0 auto;
}

header {
  padding: 0px 15px;
}
header menu nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0px;
}
header menu nav .hamb-menu {
  display: none;
}
header menu nav .logo_menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 58.18px;
       column-gap: 58.18px;
}
header menu nav .logo_menu ul {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
header menu nav .logo_menu ul li a {
  color: #939CAA;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  transition: 0.5s;
}
header menu nav .logo_menu ul li a:hover {
  color: #FCB72B;
}
header menu nav .mobile-hiddin {
  display: none;
}

@media only screen and (max-width: 768px) {
  header menu nav .hamb-menu {
    display: block;
  }
  header menu nav .logo_menu ul {
    display: none;
  }
  header menu nav .mobile-hiddin {
    display: block;
  }
  header menu nav .btn {
    display: none;
  }
}
.banner {
  background-image: url(../../../../../assets/images/home-hero-desktop.jpg);
  background-size: cover;
}
.banner .banner__items {
  padding: 153px 15px;
}
.banner .banner__items h1 {
  max-width: 500px;
  color: #FFF;
  font-family: Space Mono;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
}
.banner .banner__items p {
  padding-top: 40px;
  max-width: 405px;
  color: #FFF;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.banner .banner__items .btn {
  margin-top: 40px;
}

@media only screen and (max-width: 1024px) {
  .banner {
    background-image: url(../../../../../assets/images/home-hero-tablet.jpg);
  }
  .banner .banner__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner .banner__items h1 {
    text-align: center;
  }
  .banner .banner__items p {
    text-align: center;
    max-width: 573px;
  }
}
@media only screen and (max-width: 566px) {
  .banner {
    background-image: url(../../../../../assets/images/home-hero-mobile.jpg);
  }
}
@media only screen and (max-width: 500px) {
  .banner .banner__items p {
    max-width: 311px;
  }
}
.delivery {
  max-width: 1110px;
  margin: 0 auto;
}
.delivery .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 840px;
  height: 15px;
  background-color: #E5ECF4;
  margin-top: 208px;
}
.delivery .text_item {
  display: flex;
  padding-top: 60px;
}
.delivery .text_item #item h3 {
  color: #495567;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.071px;
}
.delivery .text_item #item p {
  max-width: 350px;
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.delivery .text_item .scooter {
  margin-left: 30px;
}
.delivery .text_item .ride {
  margin-left: 30px;
}

.delivery_mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .delivery {
    display: flex;
    flex-direction: row;
    margin-left: 97px;
  }
  .delivery .line {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 15px;
    height: 420px;
    background-color: #E5ECF4;
    margin-top: 208px;
  }
  .delivery .text_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 180px;
  }
  .delivery .text_item #item {
    padding-left: 120px;
  }
  .delivery .text_item #item h3 {
    color: #495567;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.071px;
  }
  .delivery .text_item #item p {
    max-width: 350px;
    color: #939CAA;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .delivery .text_item .scooter {
    margin-top: 0px;
    margin-left: 0px;
  }
  .delivery .text_item .ride {
    margin-top: 0;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 640px) {
  .delivery {
    display: none;
  }
  .delivery_mobile {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 72px;
  }
  .delivery_mobile .mobile_item {
    margin-top: 48px;
  }
  .delivery_mobile .mobile_item img {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .delivery_mobile .mobile_item h3 {
    color: #495567;
    text-align: center;
    font-family: Space Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.893px;
  }
  .delivery_mobile .mobile_item p {
    max-width: 311px;
    margin: 0 auto;
    color: #939CAA;
    text-align: center;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
}
.telementry {
  display: flex;
  align-items: center;
  padding: 200px 0px 160px 0px;
}
.telementry .telemtry_text h2 {
  max-width: 445px;
  color: #495567;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.143px;
}
.telementry .telemtry_text p {
  padding-top: 24px;
  max-width: 445px;
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.telementry .telemtry_text button {
  margin-top: 40px;
}
.telementry .telementry_image {
  background-image: url(../../../../patterns/left-downward-arrow.svg);
}

.btn {
  padding: 14px 39px;
  background-color: #FCB72B;
  border: none;
  outline: none;
  transition: 0.5s;
}
.btn a {
  color: #FFF;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.btn:hover {
  background-color: transparent;
  border: 3px solid #FCB72B;
}
.btn:hover a {
  color: #FCB72B;
}/*# sourceMappingURL=style.css.map */